.links_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 0 32px;
    box-sizing: border-box;
    margin-top: 42px;
}

.link_box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    align-items: center;
    min-height: 50px;
    overflow: hidden;
    border-radius: 19px;
    background: #171C1D;
    padding: 8px;
    box-sizing: border-box;
}

.lb_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.link_logo_container {}

.link_logo {
    width: 36px;
    height: 36px;
}

.arrow_down {
    width: 12px;
    height: 12px;
}

.lb_bottom {
    display: flex;
    width: 100%;
    color: #D8F0FA;
}

.lb_details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    width: 100%;
    background: #0C0E12;
    border-radius: 12px;
    padding: 0 8px;
    text-decoration: none;
}

.link_title {
    color: #D8F0FA;
    font-size: 20px;
    text-decoration: none;
}

.text_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
    margin-top: 48px;
}

.bottom_text {
    font-size: 16px;
    color: #D8F0FA;
}